
<nav class="navbar navbar-expand-lg  navbar-light">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="row col-12" >
      <div class="col">
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  LDT Clients
              </button>
              <div class="dropdown-menu" data-title="LDT Clients" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="/">General</a>
                <a class="dropdown-item" routerLink="/lapos">Lapos</a>
                <a class="dropdown-item" routerLink="/ldt">Security updates</a>
                <a class="dropdown-item" routerLink="/charts">Charts</a>
              </div>
            </div>
      </div>
      <div class="col-8">
         <h1>{{title}}</h1>
      </div>
      <div class="col">
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  LDT Deployments
              </button>
              <div class="dropdown-menu" data-title="LDT Deployments" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="/osd">General</a>
              </div>
            </div>
      </div>
    </div>
</nav>