<nav class="navbar navbar-expand-lg  navbar-light">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      
      <li class="nav-item font-weight-bold">
        <a class="nav-link" routerLink="/">General</a>
      </li>
      <li class="nav-item font-weight-bold">
        <a class="nav-link" routerLinkActive="active" routerLink="/lapos">Lapos</a>
      </li>
      <li class="nav-item font-weight-bold">
          <a class="nav-link" routerLinkActive="active" routerLink="/isNew">NewUI</a>
        </li>      
      <li class="nav-item font-weight-bold">
        <a class="nav-link" routerLinkActive="active" routerLink="/ldt">Security updates</a>
      </li>
      <li class="nav-item font-weight-bold">
        <a class="nav-link" routerLinkActive="active" routerLink="/charts">Charts</a>
      </li>

    </ul>
  </div>
</nav>