
<nav class="navbar navbar-expand-lg  navbar-light">

  <div class="row col-12" style="padding-left: 0;">
      <div class="col-2" style="padding-left: 0;text-align: left;">
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" 
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Main Menu</a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle"  href="#">LDT Active client</a>
              <ul class="dropdown-menu" data-title="LDT Active client">
                <a class="dropdown-item drop-last" routerLink="/">General</a>
                <a class="dropdown-item drop-last" routerLink="/lapos">Lapos profile</a>
                <a class="dropdown-item drop-last" routerLink="/ldt">Security updates</a>
              </ul>
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">LDT deployment tasks</a>
              <ul class="dropdown-menu" data-title="LDT deployment tasks">
                <a class="dropdown-item drop-last" routerLink="/osd">General</a>
                <a class="dropdown-item drop-last" routerLink="/charts">Charts</a>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-8">
         <h1>{{title}} <span *ngIf="rrouter.url !== '/osd' && rrouter.url !== '/charts'" class="year">{{year}}</span></h1>
        </div>
      <div class="col-2">
      </div>
    </div>
</nav>