.navbar-light .navbar-brand {
    color: rgb(0, 164, 187);
}
.menuWrap{
    min-height: 80px;
}
.navbar-brand{
    cursor: pointer;
}

.togHide{
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
}

.col{
    text-align: left;
}