.chart-container {
    width: 49%;
    margin: 10px 0;
    height: 250px;
    display:inline-block;
}
.charts-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    float: right;
    width: 100%;
}
