.chart-container {
    margin: 10px 5px;
    max-width: 48%;
    box-shadow: 0px 0px 1px #c9c9c9

}
.charts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.col-3 {
    max-width: 9%;
}