<div>
        
<app-button [title]="title" [tableclass]="tableclass" (messageEvent)="reciveMessage($event)" [year]="year"></app-button>
<table  id="zabbixTable" class="table table-hover table-striped table-sm">
  <thead>
    <tr>
      <th>
        <span>Distribution </span>
      </th>
      <th scope="col">Physical</th>
      <th scope="col">Virtual</th>
      <th >Total</th>

    </tr>
  </thead>
  <tbody *ngIf="!collapse">
      <tr  *ngFor="let k of zFunctions.objectKeys(dist[selectedRegion])" class="newLine">
          <td scope="row">{{k}}</td>
          <td>{{dist[selectedRegion][k].physical}}</td>
          <td>{{dist[selectedRegion][k].isVirt}}</td>
          <td >{{dist[selectedRegion][k].total}}</td>
        </tr>
  </tbody>
  <tbody *ngIf="collapse">
        <tr  *ngFor="let k of zFunctions.objectKeys(sum[selectedRegion])">
            <td >{{k}}</td>
            <td>{{sum[selectedRegion][k].physical}}</td>
            <td>{{sum[selectedRegion][k].isVirt}}</td>
            <td>{{sum[selectedRegion][k].total}}</td>
          </tr>
  </tbody>
  <tfoot>
      <tr>
          <th scope="row">Total</th>
          <td class="total">{{total[selectedRegion].physical}}</td>
          <td class="total">{{total[selectedRegion].isVirt}}</td>
          <td class="total">{{total[selectedRegion].total}}</td>
      </tr>

  </tfoot>
</table>

<!-- <table  *ngIf="collapse" class="table table-hover table-striped table-sm">
  <thead>
    <tr>
      <th>
        <span>Distribution </span>
      </th>
      <th >Total</th>
      <th scope="col">Physical</th>
      <th scope="col">Virtual</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
  <tfoot>
      <tr>
          <th scope="row">Total</th>
          <td class="total">{{total.total}}</td>
          <td class="total">{{total.physical}}</td>
          <td class="total">{{total.isVirt}}</td>
      </tr>
  </tfoot>
</table> -->
</div>