/* You can add global styles to this file, and also import other style files */

.trNum{
    display:none;
  }
  .GroupH5{
    float: right;
    margin-top: 10px;
    background: #f3f2f2;
  }

  .GroupH5:hover {
    color:green
}

  .table thead th.lapos{
    font-weight: normal;
    color: #517744;
  }

  .container2{
    width:300px;
    margin: 140px auto;
  }

  .elementToFadeInAndOut {
    animation: fadeIn 1s infinite alternate;
    text-align: center;
    color: #efc8c7;
    font-family: monospace;
}

@keyframes fadeIn { 
  from { opacity: 0; } 
}

  .xBadge{
    background: #efc7c7;
    width: 20px;
    height: 20px;
    display: inline-block;
    float: right;
    border-radius: 30%;
    /* border: 1px solid red; */
  }
  .animate{
    animation: spin 2s linear infinite;
  }

  .mainCont{
    /* display:none; */
  }
  .listLoading{
    margin: 0 auto;
    margin-top: 10px;
  }
  .table thead th.LDT{
    font-weight: normal;
    color: #d27470;
  }

  .tableTag{
    padding: 11px;
    margin-top: 6px;
    /* border-radius: 5px; */
    font-weight: 300;
    margin-bottom: 0;
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
    float: left;
  }

.table {
    table-layout: fixed;
}
  .table td, .table th {
    text-align: center;
}
  .tableTagGreen{
    background-color: #dff0d9;
    border: 1px solid #9ad087;
  }
  .tableTagBlue{
    background-color: #d9edf8;
    border: 1px solid #a5c5d6;
  }
  .tableTagRed{
    background-color: #f2dfde;
    border: 1px solid #c59792;
  }

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #b6d2e1; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
}

.total{
  font-weight: bold;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
