<div class="region">
    <div><span class="badge">Select Profile</span></div>
    <select (change)="updateProfile($event.target.value)" class="col-3 font-weight-bold list-group-item-success" style="text-align-last:center;font-size: 22px;">
      <option *ngFor="let item of profiles" [value]="item">{{item}}</option>
    </select>
</div>
<br/>
<span class="badge badge-pill badge-secondary">Data For Last 30 Days</span>
<br/>
<br/>
<div>
    <!-- <app-button [title]="title" [tableclass]="tableclass" (messageEvent)="reciveMessage($event)" [year]="year"></app-button> -->

    <table  id="laposTable" class="table table-hover table-striped table-sm">
      <thead>
        <tr>
          <th scope="col"><span>Distribution </span></th>
          <th scope="col" >Physical</th>
          <th scope="col" >Virtual</th>
          <th scope="col" >Region</th>
          <th scope="col" >Profile</th>
          <th scope="col" >Total</th>
        </tr>
      </thead>
      
      <tbody >
          <tr class="newLine" *ngFor="let item of records | filter:profile | location:selectedRegion ">
            <td scope="row">{{item.dist}} {{item.version}}</td>
            <td scope="row">{{item.virtual}}</td>
            <td scope="row">{{item.physical}}</td>
            <td scope="row">{{item.region}}</td>
            <td scope="row">{{item.name}}</td>
            <td scope="row">{{item.total}}</td>

          </tr>
      </tbody>
      <tfoot>
          <tr>
              <th scope="row">Total</th>
              <td class="total">{{records | filter:profile | location:selectedRegion | sum}}</td>
              <td class="total">{{records | filter:profile | location:selectedRegion | sumVirt}}</td>
              <td class="total">{{records | filter:profile | location:selectedRegion | sumPhysical}}</td>
          </tr>   
      </tfoot>
    </table>
  </div>