.chart-container {
    width: 37%;
    margin: 10px 0;
    height: 250px
}
.charts-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    float: right;
    width: 50%;
}
.parentname{
    width: 50%;
    position: relative;
    left: 50%;
    color: #95bfcc;
    font-size: 29px;
    text-transform: capitalize;
}
