.chart-container {
    min-height: 240px;
    width: 33%;
}
.charts-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: -310px;
}
.parentname{
    width: 50%;
    position: relative;
    left: 50%;
    color: #95bfcc;
    font-size: 29px;
    text-transform: capitalize;
}
