<div>
    <app-button [title]="title" [tableclass]="tableclass" (messageEvent)="reciveMessage($event)" [year]="year"></app-button>

    <table id="LDTtable" class="table table-hover table-striped  table-sm">
      <thead>
        <tr>
          <th scope="col"><span>Distribution </span></th>
          <th scope="col" >Physical</th>
          <th scope="col" >Virtual</th>
          <th scope="col" >Physical</th>
          <th scope="col" >Virtual</th>
        </tr>
        <tr>
          <th scope="col"></th>
          <th scope="col" colspan="2" class="LDT font-weight-bold text-info">isSEC</th>
          <th scope="col" colspan="2" class="LDT font-weight-bold text-info">nonSEC</th>
        </tr>          
      </thead>
      <tbody *ngIf="!collapse">
          <tr class="newLine" *ngFor="let k of zFunctions.objectKeys(dist[selectedRegion])">
              <td scope="row">{{k}}</td>
              <td>{{dist[selectedRegion][k].LDT.isLDT.p}}</td>
              <td>{{dist[selectedRegion][k].LDT.isLDT.v}}</td>
              <td>{{dist[selectedRegion][k].LDT.nonLDT.p}}</td>
              <td>{{dist[selectedRegion][k].LDT.nonLDT.v}}</td>
            </tr>
      </tbody>
      <tbody *ngIf="collapse">
          <tr class="newLine" *ngFor="let k of zFunctions.objectKeys(sum[selectedRegion][selectedRegion])">
              <td scope="row">{{k}}</td>
              <td>{{sum[selectedRegion][k].LDT.isLDT.p}}</td>
              <td>{{sum[selectedRegion][k].LDT.isLDT.v}}</td>
              <td>{{sum[selectedRegion][k].LDT.nonLDT.p}}</td>
              <td>{{sum[selectedRegion][k].LDT.nonLDT.v}}</td>
            </tr>

      </tbody>
      <tfoot>
          <tr>
              <th scope="row">Total</th>
              <td class="total">{{total[selectedRegion].LDT.isLDT.p}}</td>
              <td class="total">{{total[selectedRegion].LDT.isLDT.v}}</td>
              <td class="total">{{total[selectedRegion].LDT.nonLDT.p}}</td>
              <td class="total">{{total[selectedRegion].LDT.nonLDT.v}}</td>
          </tr>
          <tr class="alert-info">
              <th scope="row">Combained</th>
              <td colspan="2" class="total">{{total[selectedRegion].LDT.isLDT.p + total[selectedRegion].LDT.isLDT.v}}</td>
              <td colspan="2" class="total">{{total[selectedRegion].LDT.nonLDT.p + total[selectedRegion].LDT.nonLDT.v}}</td>
          </tr>            
      </tfoot>
    </table>
  </div>