<div>
    <h5 class="tableTag tableTagRed">LDT - is Secure/non Secure</h5>
    <button class="GroupH5 btn">Group +/-</button>
    <table id="LDTtable" class="table table-hover table-striped table-danger table-sm">
      <thead>
        <tr>
          <th scope="col"><span>Distribution </span></th>
          <th scope="col" >Physical</th>
          <th scope="col" >Virtual</th>
          <th scope="col" >Physical</th>
          <th scope="col" >Virtual</th>
        </tr>
        <tr>
          <th scope="col"></th>
          <th scope="col" colspan="2" class="LDT">isSEC</th>
          <th scope="col" colspan="2" class="LDT">nonSEC</th>
        </tr>          
      </thead>
      <tbody>
          <tr class="newLine" *ngFor="let k of objectKeys(dist)">
              <th scope="row">{{k}}</th>
              <td>{{dist[k].LDT.isLDT.p}}</td>
              <td>{{dist[k].LDT.isLDT.v}}</td>
              <td>{{dist[k].LDT.nonLDT.p}}</td>
              <td>{{dist[k].LDT.nonLDT.v}}</td>
            </tr>
      </tbody>
      <tfoot></tfoot>
    </table>
  </div>