h1{
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    font-family: monospace;
    color: #80c2cd;
}

.main{
    width:90%;
    margin: 0 auto;
    padding: 20px;
}

/* :host ::ng-deep .table{
    width:50%;
} */